<div class="card">
  <div class="card-body">
    <div>
      <h4>Experiencia</h4>
    </div>
    <div class="card mb-3" style="max-width: 1230px">
      <div class="row">
        <div class="col-md-4 col-lg-2">
          <img
            src="../../../assets/img/LOGO_MUNICIPALIDAD-DE-SAN-MIGUEL-01-1024x1024.jpg"
            class="img-fluid rounded mx-auto d-block img-exp-edu"
            alt="..."
          />
        </div>
        <div class="col-md-8 col-lg-6">
          <div class="card-body">
            <h5 class="card-title">
              Pasante del área soporte técnico informático
            </h5>
            <h6 class="card-subtitle">San Miguel de Arcángel</h6>
            <p class="card-text">
              <small class="text-muted">Agosto 2018 - Septiembre 2018</small>
            </p>
            <p class="card-text">Descripcion del puesto:</p>
            <p class="card-text">
              Tareas de mantenitenimiento y instalacion de sistemas
              computaciones
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="card-body">
    <div>
     <h4>Educacion</h4>
    </div>
    <div class="row">
        <div class="card mb-3" style="max-width: 1210px">
          <div class="row">
            <div class="col-md-4 col-lg-2">
              <img
                src="../../../assets/img/logo-tecnica.jpg"
                class="img-fluid rounded mx-auto d-block img-exp-edu"
                alt="..."
              />
            </div>
            <div class="col-md-8 col-lg-6">
              <div class="card-body">
                <h5 class="card-title">Técnico en informatica secundario</h5>
                <h6 class="card-subtitle">San Miguel de Arcángel</h6>
                <p class="card-text">
                  <small class="text-muted">Promoción 2018</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 1210px">
          <div class="row">
            <div class="col-md-4 col-lg-2">
              <img
                src="../../../assets/img/argentina programa.png"
                class="img-fluid rounded mx-auto d-block img-exp-edu"
                alt="..."
              />
            </div>
            <div class="col-md-8 col-lg-6">
              <div class="card-body">
                <h5 class="card-title">Introduccion a la programacion #SeProgramar </h5>
                <h6 class="card-subtitle">Argentina Programa, Mumuki</h6>
                <p class="card-text">
                  <small class="text-muted">OCTUBRE  DE 2021 - DICIEMBRE DE 2021</small>
                </p>
                <p class="card-text">
                  Curso de introducción a la programación impartido por la plataforma mumuki.
                </p>  
                <a href="https://mumuki.io/argentina-programa/certificates/verify/Oo2d_R3yzTeOMJO5" class="btn btn-primary card-text" target="_blank">Ver Certificado</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 1210px">
          <div class="row">
            <div class="col-md-4 col-lg-2">
              <img
                src="../../../assets/img/argentina programa.png"
                class="img-fluid rounded mx-auto d-block img-exp-edu"
                alt="..."
              />
            </div>
            <div class="col-md-8 col-lg-6">
              <div class="card-body">
                <h5 class="card-title">Full stack Developer jr #YoProgramo</h5>
                <h6 class="card-subtitle">Argentina Programa, Inti</h6>
                <p class="card-text">
                  <small class="text-muted">Febrero del 2022 - En curso</small>
                </p>
                <a href="#" class="btn btn-primary card-text" target="_blank">Ver Certificado</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

