*{
    padding: 0;
    margin: 0;
}    /* You can add global styles to this file, and also import other style files */

body{
    /*colocamos las fuentes que vamos usar*/  
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/*.card{
    border: 0px;
}*/
