<div class="card">
  <div class="card-title">
    <h4>Habilidades blandas y duras</h4>
  </div>
  <div class="skills">
    <div class="skills">
      <div class="title-skill">
        <p>html</p>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="skills">
      <div class="title-skill">
        <p>html</p>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="skills">
      <div class="title-skill">
        <p>html</p>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >25%</div>
      </div>
    </div>
    <div class="skills">
      <div class="title-skill">
        <p>html</p>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
  
</div>
