<div class="card mat-card" id="first-card">
  <div id="info" style="padding: 16px">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 info-name">
          <div id="info-image ">
            <img
              class="mx-auto d-block profile-image"
              src="../../../assets/img/imagen-perfil.jpeg"
              alt="foto de perfil"
            />
          </div>
          <h1 class="text-center">Brian Gonzalez</h1>
          <div id="info-company">
            <p class="text-center">Full Stack Developer Jr</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <h4 class="text-center">Acerca de</h4>
          <div>
            <p id="text-acercade">
              Hola que tal!. Soy Desarrollador Full Stack jr en busca de mi primera experiencia
              en el ambito del desarrollo web en una empresa o institucion para
              arquirir nuevas habilidades y metodologias y aplicar mis
              conocimientos, soy proactivo y tengo buena comunicacion a la hora
              de trabajar en equipo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
