<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="logo">
      <img
        src="../../../assets/img/APLogo-20-20.png"
        alt=""
        width="90px"
        height="auto"
        class="align-text img-logo"
      />
      <p>#YoProgramo</p>
    </div>
    <div class="social">
      <a href=""><img src="../../../assets/img/facebook.png" alt="" /></a>
      <a href=""><img src="../../../assets/img/github.png" alt="" /></a>
      <a href=""><img src="../../../assets/img/instagram.png" alt="" /></a>
      <a href=""><img src="../../../assets/img/linkedin.png" alt="" /></a>
      <a href=""><img src="../../../assets/img/twitter.png" alt="" /></a>
      <button type="button" class="btn btn-light">Login</button>
    </div>
  </div>
</nav>
