<div class="card">
  <h4>proyectos</h4>
  <div class="card-body">
    <div class="row">
      <div class="card mb-3" style="max-width: 1210px">
        <div class="row">
          <div class="col-md-4 col-lg-2">
            <img
              src="../../../assets/img/Proyecto 1.png"
              class="img-fluid rounded mx-auto d-block img-proyectos"
              alt="..."
            />
          </div>
          <div class="col-md-8 col-lg-6">
            <div class="card-body">
              <h5 class="card-title">
                Introduccion a la programacion #SeProgramar
              </h5>
              <h6 class="card-subtitle">Argentina Programa, Mumuki</h6>
              <p class="card-text">
                <small class="text-muted"
                  >OCTUBRE DE 2021 - DICIEMBRE DE 2021</small
                >
              </p>
              <p class="card-text">
                Curso de introducción a la programación impartido por la
                plataforma mumuki.
              </p>
              <a
                href="#"
                class="btn btn-primary card-text"
                target="_blank"
                >Ver proyectos</a
              >
              <a
                href="#"
                class="btn btn-primary card-text"
                target="_blank"
                >Ver Repositorio</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
