.card{
    margin: 0px 25px;
    
}
.card-text{
    font-size: 14px;
}

.contenedor-proyecto{
    display: flex;
    flex-wrap: nowrap;
}

.img-proyecto{
    max-width: 150px;
    max-height: 150px;
    
    margin: 20px;
    padding: 10px;
}

.btn{
    margin: 10px;
}

@media (max-width: 578px) { 
    .card{
        margin: 10px 0px;
    }
    .contenedor-proyecto{
        flex-wrap: nowrap;
        flex-direction: column;
    }
 }